@font-face {
    font-family: "pixel" ;
    src: url(/font/LLPIXEL3.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'pixel', sans-serif;
    background:url(../images/bg-begin.png);
    background-size: cover;
    color: rgb(109, 109, 109);

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    /* padding-top: 300px; */
}

label{
    font-size: 2rem;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 3rem 1.5rem;
    background-color: rgb(219, 42, 42);
}

a {
    text-decoration: none;
}

.container_L-index{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 50Vh;
}
.buttonStyle, .pixel_button{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "pixel",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

#pokedexButton{
    margin-right: 0.5rem;
}

.buttonStyle:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.buttonStyle:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttonStyle:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


/* button{
        font-size: 25px;
        color: white;
        height: auto;
        margin: 10px;
        font-family: 'VT323';
        
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        
        cursor: pointer;
} */
.pokeball {
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top:20%;
    left: 50%;
    transform:translate(-50% ,-50%); */
    /* position: absolute;
    z-index: -10; */

}

.l-img-pokeball{
    object-fit: contain;
    height: 10vh;
    width: auto;
}
.pixel {
    width: 1rem;
    height: 1rem;
    box-shadow: 
    /* row 1 */
    0rem 0rem 0 -0.05rem #fff,
    1rem 0rem 0 -0.05rem #fff,
    2rem 0rem 0 -0.05rem #fff,
    3rem 0rem 0 -0.05rem #fff,
    4rem 0rem 0 -0.05rem #222,
    5rem 0rem 0 -0.05rem #222,
    6rem 0rem 0 -0.05rem #222,
    7rem 0rem 0 -0.05rem #222,
    8rem 0rem 0 -0.05rem #fff,
    9rem 0rem 0 -0.05rem #fff,
    10rem 0rem 0 -0.05rem #fff,
    11rem 0rem 0 -0.05rem #fff,
    /* row 2 */
    0rem 1rem 0 -0.05rem #fff,
    1rem 1rem 0 -0.05rem #fff,
    2rem 1rem 0 -0.05rem #222,
    3rem 1rem 0 -0.05rem #222,
    4rem 1rem 0 -0.05rem #f00,
    5rem 1rem 0 -0.05rem #f00,
    6rem 1rem 0 -0.05rem #f00,
    7rem 1rem 0 -0.05rem #f00,
    8rem 1rem 0 -0.05rem #222,
    9rem 1rem 0 -0.05rem #222,
    10rem 1rem 0 -0.05rem #fff,
    11rem 1rem 0 -0.05rem #fff,
    /* row 3 */
    0rem 2rem 0 -0.05rem #fff,
    1rem 2rem 0 -0.05rem #222,
    2rem 2rem 0 -0.05rem #f00,
    3rem 2rem 0 -0.05rem #f00,
    4rem 2rem 0 -0.05rem #f00,
    5rem 2rem 0 -0.05rem #f00,
    6rem 2rem 0 -0.05rem #f00,
    7rem 2rem 0 -0.05rem #f00,
    8rem 2rem 0 -0.05rem #f00,
    9rem 2rem 0 -0.05rem #f00,
    10rem 2rem 0 -0.05rem #222,
    11rem 2rem 0 -0.05rem #fff,
    /* row 4 */
    0rem 3rem 0 -0.05rem #fff,
    1rem 3rem 0 -0.05rem #222,
    2rem 3rem 0 -0.05rem #f00,
    3rem 3rem 0 -0.05rem #f00,
    4rem 3rem 0 -0.05rem #f00,
    5rem 3rem 0 -0.05rem #f00,
    6rem 3rem 0 -0.05rem #f00,
    7rem 3rem 0 -0.05rem #f00,
    8rem 3rem 0 -0.05rem #f00,
    9rem 3rem 0 -0.05rem #f00,
    10rem 3rem 0 -0.05rem #222,
    11rem 3rem 0 -0.05rem #fff,
    /* row 5 */
    0rem 4rem 0 -0.05rem #222,
    1rem 4rem 0 -0.05rem #f00,
    2rem 4rem 0 -0.05rem #f00,
    3rem 4rem 0 -0.05rem #f00,
    4rem 4rem 0 -0.05rem #f00,
    5rem 4rem 0 -0.05rem #f00,
    6rem 4rem 0 -0.05rem #f00,
    7rem 4rem 0 -0.05rem #f00,
    8rem 4rem 0 -0.05rem #f00,
    9rem 4rem 0 -0.05rem #f00,
    10rem 4rem 0 -0.05rem #f00,
    11rem 4rem 0 -0.05rem #222,
    /* row 6 */
    0rem 5rem 0 -0.05rem #222,
    1rem 5rem 0 -0.05rem #f00,
    2rem 5rem 0 -0.05rem #f00,
    3rem 5rem 0 -0.05rem #f00,
    4rem 5rem 0 -0.05rem #f00,
    5rem 5rem 0 -0.05rem #222,
    6rem 5rem 0 -0.05rem #222,
    7rem 5rem 0 -0.05rem #f00,
    8rem 5rem 0 -0.05rem #f00,
    9rem 5rem 0 -0.05rem #f00,
    10rem 5rem 0 -0.05rem #f00,
    11rem 5rem 0 -0.05rem #222,
    /* row 7 */
    0rem 6rem 0 -0.05rem #222,
    1rem 6rem 0 -0.05rem #222,
    2rem 6rem 0 -0.05rem #f00,
    3rem 6rem 0 -0.05rem #f00,
    4rem 6rem 0 -0.05rem #222,
    5rem 6rem 0 -0.05rem #fff,
    6rem 6rem 0 -0.05rem #fff,
    7rem 6rem 0 -0.05rem #222,
    8rem 6rem 0 -0.05rem #f00,
    9rem 6rem 0 -0.05rem #f00,
    10rem 6rem 0 -0.05rem #222,
    11rem 6rem 0 -0.05rem #222,
    /* row 8 */
    0rem 7rem 0 -0.05rem #222,
    1rem 7rem 0 -0.05rem #fff,
    2rem 7rem 0 -0.05rem #222,
    3rem 7rem 0 -0.05rem #222,
    4rem 7rem 0 -0.05rem #222,
    5rem 7rem 0 -0.05rem #fff,
    6rem 7rem 0 -0.05rem #fff,
    7rem 7rem 0 -0.05rem #222,
    8rem 7rem 0 -0.05rem #222,
    9rem 7rem 0 -0.05rem #222,
    10rem 7rem 0 -0.05rem #fff,
    11rem 7rem 0 -0.05rem #222,
    /* row 9 */
    0rem 8rem 0 -0.05rem #fff,
    1rem 8rem 0 -0.05rem #222,
    2rem 8rem 0 -0.05rem #fff,
    3rem 8rem 0 -0.05rem #fff,
    4rem 8rem 0 -0.05rem #fff,
    5rem 8rem 0 -0.05rem #222,
    6rem 8rem 0 -0.05rem #222,
    7rem 8rem 0 -0.05rem #fff,
    8rem 8rem 0 -0.05rem #fff,
    9rem 8rem 0 -0.05rem #fff,
    10rem 8rem 0 -0.05rem #222,
    11rem 8rem 0 -0.05rem #fff,
    /* row 10 */
    0rem 9rem 0 -0.05rem #fff,
    1rem 9rem 0 -0.05rem #222,
    2rem 9rem 0 -0.05rem #fff,
    3rem 9rem 0 -0.05rem #fff,
    4rem 9rem 0 -0.05rem #fff,
    5rem 9rem 0 -0.05rem #fff,
    6rem 9rem 0 -0.05rem #fff,
    7rem 9rem 0 -0.05rem #fff,
    8rem 9rem 0 -0.05rem #fff,
    9rem 9rem 0 -0.05rem #fff,
    10rem 9rem 0 -0.05rem #222,
    11rem 9rem 0 -0.05rem #fff,
    /* row 11 */
    0rem 10rem 0 -0.05rem #fff,
    1rem 10rem 0 -0.05rem #fff,
    2rem 10rem 0 -0.05rem #222,
    3rem 10rem 0 -0.05rem #222,
    4rem 10rem 0 -0.05rem #fff,
    5rem 10rem 0 -0.05rem #fff,
    6rem 10rem 0 -0.05rem #fff,
    7rem 10rem 0 -0.05rem #fff,
    8rem 10rem 0 -0.05rem #222,
    9rem 10rem 0 -0.05rem #222,
    10rem 10rem 0 -0.05rem #fff,
    11rem 10rem 0 -0.05rem #fff,
    /* row 12 */
    0rem 11rem 0 -0.05rem #fff,
    1rem 11rem 0 -0.05rem #fff,
    2rem 11rem 0 -0.05rem #fff,
    3rem 11rem 0 -0.05rem #fff,
    4rem 11rem 0 -0.05rem #222,
    5rem 11rem 0 -0.05rem #222,
    6rem 11rem 0 -0.05rem #222,
    7rem 11rem 0 -0.05rem #222,
    8rem 11rem 0 -0.05rem #fff,
    9rem 11rem 0 -0.05rem #fff,
    10rem 11rem 0 -0.05rem #fff,
    11rem 11rem 0 -0.05rem #fff
}