* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

#pokedex {
    /* display: flex;
    flex-direction: column; */
    width: 90%;
    margin-left: 5%;
}

#pokemon-cards {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pokemonCard {
    /* border: rgb(207, 29, 35) 10px solid; */
 background-color: blue;
    width: 200px;
    cursor: pointer;
}
.shiny {
    border: rgb(255, 217, 0) 10px solid;
}

#btn-shiny {
    background-color:  rgba(255, 217, 0);
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
}

#div-shiny {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#seeMorePokemon {
    color: rgb(240, 240, 240);
    background-color: rgb(24, 24, 24);
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}

.div-seeMore {
    display: flex;
    justify-content: center;
}
.div-seeMore input {
    width: 250px;
    margin-right: 1rem;
}

.img-pokeball {
    width: 20px;
}

.none {
    display: none !important;
}

.info-bgm {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(219, 42, 42);
    color: white;
    width: 120px;
    padding: 0.7rem;
    font-size: 12px;
}
.info-bgm p:first-child {
    margin-bottom: 0.5rem;
}